@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: dodgerblue;
}
a:hover {
  color: blue;
}
a:visited {
  color: #ba02ba;
}
a:visited:hover {
  color: #6b379c;
}
